---
permalink: /
title: Home
order: 0
navbar_display: false
---

{% include carousel.html %}

<section class="pt-5">
    <div class="container">
        <h2>Featured Releases</h2>

        <!-- <p class="text-justify">
            The Institute and our partners believe in the openness of education and technology. There should not be any boundary to learn or implement artificial intelligence in your business.
        </p>
        <p class="text-justify">
            We release all our learning materials, dataset, and models to public.
        </p> -->
    </div>
    <div class="container">
        <div class="d-flex flex-row flex-nowrap card-deck">
            {% for release in site.releases %}
            <div class="card rounded-0" {% if release.image %}style="background-image: url('{{ release.image }}')"
                {% endif %}>
                <div class="card-body d-flex flex-column">
                    <h5 class="font-weight-semibold">{{ release.title }}</h5>
                    <p class="card-text">{{ release.description }}</p>
                    <div class="d-flex flex-row justify-content-between mt-auto">
                        <p class="card-text mb-0">{{ release.date | date: "%d %b %Y" }}</p>
                        <p class="card-text mb-0">{{ release.items.size }} items</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>