---
permalink: /
title: Home
order: 0
navbar_display: false
---
{% include carousel.html %}
<section id="releases" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>ชุดข้อมูลและโมเดลที่น่าสนใจ</h2>
      </div>
      <!-- <div class="col-md-4 d-md-flex d-none align-items-center justify-content-end">
        <i class="fas fa-stream fa-fw fa-sm"></i> <a class="text-dark" href="{% link _pages/releases.html %}">All
          Releases</a>
      </div> -->
    </div>
    <!-- <p class="lead text-justify">We and our partners believe in the openness of education and technology. There
      should not be a boundary to learn or implement AI for your business</p>
    <p class="lead text-justify">We release all our learning materials, dataset, and models to public</p> -->
  </div>
  <div class="container">
    <div class="row card-stack text-white align-items-stretch">
      {% assign releases = site.releases | reverse %}
      {% for release in releases %}
      {% if release.featured %}
      <div class="col-md-6 col-xl-6 rounded-0 border-0 p-0">
        <a href="{{ release.url }}" class="card-stack-item-link">
          <div class="card-stack-item-container m-2">
            <div class="card-stack-item card-genie h-100 w-100 text-white d-flex flex-column rounded rounded-lg">
              <div
                class="d-flex flex-column h-100 w-100 p-4 position-relative card-item-content flex-grow-1 rounded rounded-lg">
                <h5 class="font-weight-semibold">{{ release.title }}</h5>
                <p class="text-justify">{{ release.description }}</p>
                <div class="d-flex flex-row justify-content-between align-items-center mt-auto">
                  <p class="mb-0">{{ release.date | date: "%e/%-m/%Y" }}</p>
                  <p class="mb-0">
                    {% for category in release.categories limit:2 %}
                    <span class="badge badge-light">{{ category }}</span>
                    {% endfor %}
                    <i class="fas fa-code-branch fa-fw fa-sm"></i> v{{ release.version }}
                  </p>
                </div>
              </div>
              <div class="h-100 w-100 position-absolute card-bg-filter rounded rounded-lg"></div>
              <div class="h-100 w-100 position-absolute card-bg rounded rounded-lg" {% if release.image %}
                style="background-image: url('{{ release.image }}')" {% endif %}></div>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!-- <div class="row">
      <div class="col-md-12 d-md-none d-flex align-items-center justify-content-end text-dark mt-2">
        <i class="fas fa-stream fa-fw fa-sm"></i> <a class="text-dark" href="{% link _pages/releases.html %}">All
          Releases</a>
      </div>
    </div> -->
  </div>
</section>
<!-- <section id="posts" class="mt-5">
  <div class="container">
    {% include separator.html %}
    <div class="row mt-5">
      <div class="col-md-8">
        <h2>Featured News+Stories</h2>
      </div>
      <div class="col-md-4 d-md-flex d-none align-items-center justify-content-end">
        <i class="fas fa-stream fa-fw fa-sm"></i> <a class="text-dark" href="{% link _pages/posts.html %}">All
          News+Stories</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row card-stack text-white align-items-stretch">
      {% for post in site.posts %}
      {% if post.featured %}
      <div class="col-md-6 col-xl-6 rounded-0 border-0 p-0">
        <a href="{{ post.url }}" class="card-stack-item-link">
          <div class="card-stack-item-container m-2">
            <div class="card-stack-item card-genie h-100 w-100 text-white d-flex flex-column rounded rounded-lg">
              <div
                class="d-flex flex-column h-100 w-100 p-4 position-relative card-item-content flex-grow-1 rounded rounded-lg">
                <h5 class="font-weight-semibold mb-2">{{ post.title }}</h5>
                <p class="text-justify my-0 py-0">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
                <div class="d-flex flex-row justify-content-between align-items-center mt-auto">
                  <p class="mb-0">{{ post.date | date: "%e %b %Y" }}</p>
                  <p class="mb-0">
                    {% for category in post.categories %}
                    <span class="badge badge-light">{{ category }}</span>
                    {% endfor %}
                  </p>
                </div>
              </div>
              <div class="h-100 w-100 position-absolute card-bg-filter rounded rounded-lg"></div>
              <div class="h-100 w-100 position-absolute card-bg rounded rounded-lg" {% if post.image %}
                style="background-image: url('{{ post.image }}')" {% endif %}></div>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12 d-md-none d-flex align-items-center justify-content-end text-dark mt-2">
        <i class="fas fa-stream fa-fw fa-sm"></i> <a class="text-dark" href="{% link _pages/posts.html %}">All
          News+Stories</a>
      </div>
    </div>
  </div>
</section> -->
<section id="services" class="mt-5">
  <div class="container">
    {% include separator.html %}
    <h2 class="mt-5">บริการ</h2>
    <!-- <p class="lead text-justify">We provides an advanced AI training course and research translational consultation
      for increasing competitive capability to our partners</p> -->
  </div>
  <div class="container">
    <div class="row card-stack text-white align-items-stretch">
      {% assign services = site.services | reverse %}
      {% for service in services %}
      {% if service.featured %}
      <div class="col-md-6 col-xl-6 rounded-0 border-0 p-0">
        <!-- <a href="{{ service.url }}" class="card-stack-item-link"> -->
        <div class="card-stack-item-container m-2">
          <div class="card-stack-item h-100 w-100 text-white d-flex flex-column rounded rounded-lg">
            <div
              class="d-flex flex-column h-100 w-100 p-4 position-relative card-item-content flex-grow-1 rounded rounded-lg">
              <h5 class="font-weight-semibold mt-auto">{{ service.title }}</h5>
              <p class="text-justify mb-0">{{ service.description }}</p>
            </div>
            <div class="h-100 w-100 position-absolute card-bg-filter rounded rounded-lg"></div>
            <div class="h-100 w-100 position-absolute card-bg rounded rounded-lg" {% if service.image %}
              style="background-image: url('{{ service.image }}')" {% endif %}></div>
          </div>
        </div>
        <!-- </a> -->
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section id="resources" class="mt-5">
  <div class="container">
    {% include separator.html %}
    <h2 class="mt-5">ทรัพยากรประมวลผล</h2>
  </div>
  <div class="container">
    <div class="row card-stack text-white align-items-stretch">
      {% assign resources = site.resources | reverse %}
      {% for resource in resources %}
      {% if resource.featured %}
      <div class="col-md-6 col-xl-6 rounded-0 border-0 p-0">
        <!-- <a href="{{ resource.url }}" class="card-stack-item-link"> -->
        <div class="card-stack-item-container m-2">
          <div class="card-stack-item h-100 w-100 text-white d-flex flex-column rounded rounded-lg">
            <div
              class="d-flex flex-column h-100 w-100 p-4 position-relative card-item-content flex-grow-1 rounded rounded-lg">
              <h5 class="font-weight-semibold mt-auto">{{ resource.title }}</h5>
              <p class="text-justify mb-0">{{ resource.description }}</p>
            </div>
            <div class="h-100 w-100 position-absolute card-bg-filter rounded rounded-lg"></div>
            <div class="h-100 w-100 position-absolute card-bg rounded rounded-lg" {% if resource.image %}
              style="background-image: url('{{ resource.image }}')" {% endif %}></div>
          </div>
        </div>
        <!-- </a> -->
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section id="sponsors" class="mt-5 text-white">
  <div class="container">
    {% include separator.html %}
  </div>
  <div class="container px-2">
    <div class="sponsors-container container rounded py-4 mt-5">
      <div class="container">
        <h2>Sponsored by</h2>
        <!-- <p class="lead text-justify">Placeholder placeholder placeholder placeholder placeholder placeholder placeholder
                placeholder placeholder placeholder</p> -->
      </div>
      <div class="rounded mt-2 container sponsors">
        <div class="sponsors-box d-flex align-items-stretch flex-wrap w-100">
          {% assign sponsors = site.sponsors | reverse %}
          {% for sponsor in sponsors %}
          <div
            class="rounded sponsor-logo-container my-2 mx-1 sponsor-logo-{{ sponsor.type }} sponsor-logo-{{ sponsor.level }}">
            <a href="{{ sponsor.href }}" target="_blank">
              <img class="p-4" loading="lazy" src="{{ sponsor.logo | relative_url }}" alt="{{ sponsor.full_name }}">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>