---
layout: default
title: Home
jumbo-title: "Open Data for Everyone"
jumbo-subtitle: "VISTEC-depa Thailand AI Research Institute"
jumbo-background: "/assets/img/backgrounds/office-working-app-computer-97077.jpg"
---

{% include jumbo.html %} {% include events.html %}

<section class="goals mt-5">
  <div class="container">
    <h1>
      Our goals
    </h1>
    <div class="row mt-4">
      <div class="col-sm-12 my-sm-2 col-md-2 text-center">
        <h1><i class="fas fa-tools"></i></h1>
      </div>
      <div class="col-sm-12 my-sm-2 col-md-10">
        <h2>
          Improve Thai NLP
        </h2>
        <p>
          Large scale corpora Multiple modalities, e.g., text, speech,
          handwriting, gesture
        </p>
      </div>

      <div class="col-sm-12 my-sm-2 col-md-2 text-center">
        <h1><i class="fas fa-book-reader"></i></h1>
      </div>
      <div class="col-sm-12 my-sm-2 col-md-10">
        <h2>
          Create basic tools for Thai NLP
        </h2>
        <p>
          Creating and improving very much needed basic tools for Thai Natural
          Language Processing
        </p>
      </div>
    </div>
  </div>
</section>
