<div class="container-fluid p-0">
  <div id="carousel-{{ page.slug }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <!-- <li data-target="#carousel-{{ page.slug }}" data-slide-to="0" class="active"></li> -->
      <!-- <li data-target="#carousel-{{ page.slug }}" data-slide-to="1" class="active"></li>
          <li data-target="#carousel-{{ page.slug }}" data-slide-to="2" class="active"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex align-items-center">
          <div class="container d-flex flex-column">
            <div class="row align-items-center">
              <div class="col-auto mt-4 mt-md-0">
                <a href="https://www.vistec.ac.th" target="_blank"><img loading="lazy"
                    src="{{ "/assets/img/logo/vistec-logo-notext.svg" | relative_url }}"></a>
              </div>
              <div class="col-auto d-md-inline-block d-none">
                <i class="fas fa-times fa-2x text-white"></i>
              </div>
              <div class="col-auto mt-4 mt-md-0">
                <a href="https://www.depa.or.th" target="_blank"><img loading="lazy"
                    src="{{ "/assets/img/logo/depa-logo.svg" | relative_url }}"></a>
              </div>
              <div class="col-auto"></div>
            </div>
            <div class="row">
              <div class="col-12 mt-4 mt-md-2">
                <p class="text-white text-justify">
                  สถาบันวิจัยเทคโนโลยีปัญญาประดิษฐ์ประเทศไทย อันเกิดจากความร่วมมือระหว่างสถาบันวิทยสิริเมธี (VISTEC)
                  และสำนักงานส่งเสริมเศรษฐกิจดิจิทัล (depa)
                  ที่มีเป้าหมายที่จะสร้างเทคโนโลยีล้ำสมัยเพื่อประโยชน์ของสังคมด้วยงานวิจัย และความร่วมมือกับพาร์ทเนอร์
                  <!-- A collaborative effort between VISTEC and depa to build cutting-edge technologies
                  capability from research to utility with partners and society for technology advantages -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carousel-{{ page.slug }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-{{ page.slug }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>