<section class="events mt-5">
  <div class="container">
    <h1>Events</h1>
    <div class="card-deck rounded-0">
      {% for post in site.posts %}
      <div class="card text-white bg-dark rounded-0" style="max-width: 30rem;">
        <a class="text-white" href="{{ post.url }}">
          <div
            class="card-img-top rounded-0"
            style="background-image: url({{ post.jumbo-background }}); height: 18rem; background-size: cover;"
          ></div>
          <div class="card-body rounded-0">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.jumbo-subtitle }}
            </p>
          </div>
          <div class="card-footer rounded-0">
            <small>
              <i class="far fa-clock"> </i> {{ post.date | date_to_string}}
            </small>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
