<section class="experts mt-5">
  <div class="container">
    <h1>Subject Matter Experts</h1>
    <div class="card-deck row">
      {% for person in site.data.experts %}
      <div class=" col-lg-4 col-sm-6 col-xs-12 pb-2">
        <div class="card text-white bg-dark">
          <!-- <a class="text-white" href="{{ person.url }}"> -->
          <div
            class="card-img-top"
            style="background-image: url('{{ person.picture }}'); height: 23rem; background-size: cover; background-position: center;"
          ></div>

          <div class="card-footer">
            <strong>{{ person.firstName }} {{ person.lastName}}</strong>
            <br />
            <small>{{ person.affiliation }}</small>
            <br />
            <small>{{ person.field }}</small>
          </div>
          <!-- </a> -->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
