<footer id="footer" class="footer container my-5">
  {% include separator.html %}
  <div class="row mt-4">
    <div class="col-lg-9 mb-2">
      <div class="row align-items-center">
        <div class="col-auto mb-2">
          <a href="https://www.vistec.ac.th" target="_blank"><img class="footer-logos" id="vistec-footer-logo"
              loading="lazy" src="{{ "/assets/img/logo/vistec-logo-notext.svg" | relative_url }}"></a>
        </div>
        <div class="col-auto p-0 mb-2">
          <i class="fas fa-times"></i>
        </div>
        <div class="col-auto mb-2">
          <a href="https://www.depa.or.th" target="_blank"><img class="footer-logos" id="depa-footer-logo"
              loading="lazy" src="{{ "/assets/img/logo/depa-logo.svg" | relative_url }}"></a>
        </div>
        <div class="col-lg-12 mb-3">
          <h6 class="font-weight-semibold mb-1">VISTEC-depa Thailand Artificial Intelligence Research Institute</h6>
          A collaborative effort between VISTEC and depa to build cutting-edge technologies capability from research to
          utility with partners and society for technology advantages
        </div>
      </div>
    </div>
    <div class="social-row col-lg-3 mb-3 d-flex justify-content-lg-end align-items-start mt-lg-3">
      <a class="ml-0 mr-4" href="https://www.facebook.com/AIResearch.in.th">
        <i class="fab fa-fw fa-2x fa-facebook d-inline"></i>
      </a>
      <!-- <a class="mr-4" href="#"><i class="fab fa-fw fa-2x fa-youtube d-inline"></i></a> -->
      <a class="mr-4" href="{% link _pages/contact.html %}#enquiries"><i class="fas fa-fw fa-2x fa-envelope d-inline"></i></a>
      <a class="mr-4" href="{% link _pages/contact.html %}#enquiries"><i class="fas fa-fw fa-2x fa-phone-alt d-inline"></i></a>
      <a class="mr-4" href="{% link _pages/contact.html %}#offices"><i class="fas fa-fw fa-2x fa-map-marked-alt d-inline"></i></a>
    </div>
    <div class="col-lg-6 mb-3">
      <a class="font-weight-semibold" href="{% link _pages/contact.html %}#offices">Bangkok Office</a><br>
      2nd Fl., Digital Economy Promotion Agency (depa)<br>
      Ladprao Hills Building<br>
      80 Soi Lat Phrao 4, Chom Phon<br>
      Chatuchak, Bangkok 10900
    </div>
    <div class="col-lg-6 mb-3">
      <a class="font-weight-semibold" href="{% link _pages/contact.html %}#offices">Rayong Office</a><br>
      3rd Fl., School of Information Science and Technology (IST),<br>
      Vidyasirimedhi Institute of Science and Technology (VISTEC)<br>
      555 Moo 1, Payupnai<br>
      Wangchan, Rayong 21210
    </div>
    <div class="col-lg-12 mb-3">
      <span class="font-weight-semibold">© All rights reserved</span><br>
      <a href="">Terms of Use</a> | <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>