<footer id="footer" class="footer container my-5">
  {% include separator.html %}
  <div class="row mt-4">
    <div class="col-lg-9 mb-2">
      <div class="row align-items-center">
        <div class="col-auto mb-2">
          <a href="https://www.vistec.ac.th" target="_blank"><img class="footer-logos" id="vistec-footer-logo"
              loading="lazy" src="{{ "/assets/img/logo/vistec-logo-notext.svg" | relative_url }}"></a>
        </div>
        <div class="col-auto p-0 mb-2">
          <i class="fas fa-times"></i>
        </div>
        <div class="col-auto mb-2">
          <a href="https://www.depa.or.th" target="_blank"><img class="footer-logos" id="depa-footer-logo"
              loading="lazy" src="{{ "/assets/img/logo/depa-logo.svg" | relative_url }}"></a>
        </div>
        <div class="col-lg-12 mb-3">
          <h6 class="font-weight-semibold mb-1">VISTEC-depa Thailand Artificial Intelligence Research Institute</h6>
          สถาบันวิจัยปัญญาประดิษฐ์ประเทศไทย จากความร่วมมือระหว่างสถาบันวิทยสิริเมธี และสำนักงานส่งเสริมเศรษฐกิจดิจิทัล
        </div>
      </div>
    </div>
    <div class="social-row col-lg-3 mb-3 d-flex justify-content-lg-end align-items-start mt-lg-3">
      <a class="ml-0 mr-4" href="https://www.facebook.com/AIResearch.in.th">
        <i class="fab fa-fw fa-2x fa-facebook d-inline"></i>
      </a>
      <!-- <a class="mr-4" href="#"><i class="fab fa-fw fa-2x fa-youtube d-inline"></i></a> -->
      <a class="mr-4" href="{% link _pages/contact.html %}#enquiries"><i class="fas fa-fw fa-2x fa-envelope d-inline"></i></a>
      <a class="mr-4" href="{% link _pages/contact.html %}#enquiries"><i class="fas fa-fw fa-2x fa-phone-alt d-inline"></i></a>
      <a class="mr-4" href="{% link _pages/contact.html %}#offices"><i class="fas fa-fw fa-2x fa-map-marked-alt d-inline"></i></a>
    </div>
    <div class="col-lg-6 mb-3">
      <a class="font-weight-semibold" href="{% link _pages/contact.html %}#offices">สำนักงานกรุงเทพ</a><br>
      ชั้นที่ 2 สำนักงานส่งเสริมเศรษฐกิจดิจิทัล (depa)<br>
      อาคารลาดพร้าวฮิลล์<br>
      80 ซอยลาดพร้าว 4 แขวงจอมพล<br>
      เขตจตุจักร กรุงเทพมหานคร 10900
    </div>
    <div class="col-lg-6 mb-3">
      <a class="font-weight-semibold" href="{% link _pages/contact.html %}#offices">สำนักงานระยอง</a><br>
      ชั้นที่ 3 อาคารสำนักวิชาวิทยาศาสตร์และเทคโนโลยีสารสนเทศ (IST)<br>
      สถาบันวิทยสิริเมธี (VISTEC)<br>
      555 หมู่ที่ 1 ตำบลป่ายุบใน<br>
      อำเภอวังจันทร์ ระยอง 21210
    </div>
    <div class="col-lg-12 mb-3">
      <span class="font-weight-semibold">© สงวนลิขสิทธิ์ทุกประการ</span> นอกจากระบุไว้เป็นอื่น<br>
      <a href="">เงื่อนไขการใช้งาน</a> | <a href="">นโยบายความเป็นส่วนตัว</a>
    </div>
  </div>
</footer>