<div class="jumbo">
  <div class="jumbo-content-container">
    <div class="jumbo-content-alignment">
      <div class="px-4 pb-4 px-md-5 pb-md-5 jumbo-content">
        <span class="jumbo-title">
          {{ page.jumbo-title }}
        </span>
        <br />
        <span class="jumbo-subtitle">
          {{ page.jumbo-subtitle }}
        </span>
        {% if page.date or page.author %}
        <hr />
        {% if page.date %}
        <span class="jumbo-date mr-4">
          <i class="far fa-clock mr-1"></i>
          {{ page.date | date_to_string }}
        </span>
        {% endif %} {% if page.author %} {% assign author = site.authors |
        where: 'short_name', page.author | first %}
        <a href="{{ author.url }}">
          <span class="jumbo-author text-white">
            <i class="fas fa-quote-left mr-1"></i> {{ author.name }} {% endif %}
          </span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div
    class="jumbo-bg"
    style="background-image: url({{ page.jumbo-background }});"
  ></div>
</div>
