<!-- Charset -->
<meta charset="utf-8">
<!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Search Engine -->
<meta name="description" content="{{ page.description }}">
<meta name="image" content="{{ page.image | absolute_url }}">
<meta name="keywords"
  content="{% if page.categories %}{{ page.categories | join: ", " }}, {% endif %}{{ site.seo_keywords | join: ", " }}">
<meta name="author" content="{{ page.author }}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ page.title }} | {{ site.title }}">
<meta itemprop="description" content="{{ page.description }}">
<meta itemprop="image" content="{{ page.image | absolute_url }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image:src" content="{{ page.image | absolute_url }}">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ page.title }}">
<meta name="og:description" content="{{ page.description }}">
<meta name="og:image" content="{{ page.image | absolute_url }}">
<meta name="og:url" content="{{ page.url | absolute_url }}">
<meta name="og:site_name" content="{{ site.title }}">
<meta name="og:locale" content="{{ site.locale }}">
<meta name="fb:admins" content="{{ site.facebook_page_id }}">
<meta name="og:type" content="website">