<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light py-0">
    <div class="container">
        <a class="navbar-brand py-2" href="#"><img
                src="{{ "/assets/img/logo/airesearch-logo.svg" | relative_url }}"></a>
        <button class="navbar-toggler align-self-end mb-2 rounded-0 border-0" type="button" data-toggle="collapse"
            data-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-self-end" id="navbar-toggler">
            <ul class="navbar-nav my-2 my-lg-0 ml-auto font-weight-semibold">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>