.contact {
  $jumbotron-height: 25vh;
  $filter-height: 16rem;

  .contact-jumbotron {
    background-image: $signature-gradient;
    background-size: cover;
    height: $jumbotron-height;
    min-height: 14rem;
  }

  .maps {
    box-shadow: $standard-box-shadow;
  }

  // .contact-jumbotron-filter {
  //   background: linear-gradient(
  //     to top,
  //     rgba(0, 0, 0, 0.75) 0,
  //     rgba(0, 0, 0, 0) $filter-height
  //   );
  // }
}
