.jumbo,
.jumbo-bg,
.jumbo-content-container,
.jumbo-content-alignment {
  height: 100vh;
  width: 100%;
  // min-height: 25rem;
}

.jumbo-bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  // background: #FFF !important;
}

.jumbo-content-container {
  display: table;
}

.jumbo-content-alignment {
  display: table-cell;
  vertical-align: bottom;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.jumbo-title {
  font-weight: bold;
  font-size: 2.75rem;
}

.jumbo-subtitle {
  font-weight: bold;
  font-size: 1.325rem;
}
