@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext,thai");

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  background-color: #111;
}

.main-nav {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, .975) 0%,
    rgba(255, 255, 255, .85) 100%
  );
}

.main-content {
  min-height: calc(100vh - 2.25rem);
}

.nav-logo {
  height: 4.25rem;
}

.nav-link {
  font-weight: bold;
}

.footer {
  min-height: 2.25rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
  font-size: 0.75rem;
  text-align: right;
  display: flex;
}
