.navbar {
  $filter: saturate(180%) blur(20px);
  background: rgba($color: $background-color, $alpha: 0.925) !important;
  @supports (backdrop-filter: $filter) or (-webkit-backdrop-filter: $filter) {
    background: rgba($color: $background-color, $alpha: 0.75) !important;
    backdrop-filter: $filter;
    -webkit-backdrop-filter: $filter;
  }

  a {
    width: fit-content;
    :not(.disabled) {
      color: rgba($foreground-color, 0.8) !important;
    }
  }

  .active > a,
  a:hover:not(.disabled) {
    background: $signature-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
