.release-jumbotron {
    background-image: $signature-gradient;
    background-size: cover;
    height: 50vh;
    min-height: 360px;
}

// .download-item:hover {
//     // background: $signature-gradient;
//     // border-color: rgba(0, 0, 0, 0) !important;
//     background: $signature-gradient;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }