---
layout: default
---
<section class="release">
  <section class="release-jumbotron text-light d-flex flex-col align-items-end position-relative" {% if page.image %}
    style="background-image: url('{{ page.image | relative_url }}');" {% endif %}>
    <div class="w-100 h-100 release-jumbotron-filter position-absolute"></div>
    <div class="container mb-4">
      <div class="row align-items-stretch">
        <div class="col-lg-10">
          <h1>{{ page.title }}</h1>
          <p class="lead">{{ page.description }}</p>
        </div>
        <div class="col-lg-2 d-flex flex-column my-auto pl-lg-0">
          <span><i class="far fa-calendar-alt fa-fw fa-sm"></i> {{ page.date | date: "%e %b %Y" }}</span>
          <div class="d-flex flex-row mt-2">
            {% for category in page.categories %}
            <span class="badge badge-light mr-1">{{ category }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-5">
    <div class="row">
      <div class="col-lg-12">
        <article class="text-justify">
          {{ content }}
        </article>
      </div>
      <!-- <section id="downloads" class="col-lg-4 download-items mt-4 mt-lg-0">
        {% if page.items %}
        <h3>Downloads</h3>
        <div class="list-group rounded-0 border-0">
          {% for item in page.items %}
          <a href="{{ item.href }}" class="list-group-item list-group-item-action download-item" target="_blank">
            <h6 class="">{{ item.item }}</h6>
            <p class=""><small>{{ item.description }}</small></p>
            <small><i class="fas fa-download fa-sm fa-fw"></i> {{ item.size }}</small><br>
            <small><span href="#" data-toggle="tooltip" data-placement="bottom" title="{{ item.sha256 }}"><i
                  class="fas fa-hashtag fa-sm fa-fw"></i> SHA256:
                {{ item.sha256 | truncate: 30 }}</span></small>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </section> -->
    </div>
  </section>
</section>